body {
	background: #D9FFF7;
}

.cat {
	font-weight: bold;
	padding: 10px;
	float: left;
	background: #ABD1D9;
	overflow: hidden;
	text-transform: uppercase;
}

.cat p {
	background: #DDF556;
	margin-left: 20px;
	float: left;
	overflow: hidden;
	padding: 10px;
	text-transform: lowercase;
}